################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComApi/FileContentIndex/f940ae22-50ac-4b87-83ac-efebd121566d.vsidx
