################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComApi/FileContentIndex/2374f376-92fe-43c3-938d-1d8e5d6cba0b.vsidx
/.vs/ComApi/FileContentIndex/a3879118-daa2-405e-b005-a7689d9956c5.vsidx
/.vs/ComApi/FileContentIndex/f940ae22-50ac-4b87-83ac-efebd121566d.vsidx
